<div class="container" style="padding-top:60px">
  <div class="row">
    <section class="main col-md-9">
      <article>
      <h2>About</h2>
     <p>
        Hello, I'm Anurag Das, presently enrolled in the Software Development Program at Seneca College. 
        I take pleasure in engaging in sports such as soccer and basketball, in addition to being a fan of movies, 
        shows, and especially UFC. Post-graduation, my ambition is to secure a position in web development within a major corporation. 
    </p>
      </article>
    </section>
    <aside class="col-md-3">
      <h2>Coming Soon</h2>
      <p>Stay tuned for future updates about my life.</p>
    </aside>
  </div>
</div>